* {
    margin: 0;
    /* margin-left: 250px; */
    box-sizing: border-box;
    font-family: Roboto;
    user-select: none;
}

header {
    margin-bottom: 30px;
}
/* header, .row-1, .led, .lock, .curtain, footer {
    
} */
h1 {
    margin: 20px 0 20px 0;

    display: flex;
    /* kết hợp flex để căn giữa */
    justify-content: center;  
    
    color: red;
}

.warning-soon {
    margin: 20px auto auto auto;

    width: 20px;
    height: 20px;
    background-color: green;
    
    border-radius: 999px;

}
.main {
    padding: 20px 0;
    display: flex;

    height: auto;
    width:100%;

    /* Căn giữa */
    /* margin-left: auto;
    margin-right: auto;*/
    
    flex-direction: column; 

    border-radius: 20px;
    background: #e7f9fd;
    box-shadow:  35px 35px 70px #cbdbdf,
             -35px -35px 70px #ffffff;
}


.row-1, .row-2 {
    flex: 50%;

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.row-1 {
    flex-flow: wrap;
}
.row-2 {
    margin-top: 20px;
}


.temp, .humid, .res-row-1 {
    padding-top: 20px;
    height: 200px;
    width: 22%;
    margin: 20px;
    box-sizing: border-box;
    /* flex: 50%; */

    /* width: 300px;
    height: 300px; */

    /* Căn giữa */
    display: flex;
    justify-content: center;
    margin: auto;
}

.temp, .humid, .led, .lock, .curtain{
    min-width: 280px;

    border-radius: 20px;
    background: #aeedf9;
    box-shadow:  35px 35px 70px #99d1db,
             -35px -35px 70px #c3ffff;
}

.lock, .curtain, .led, .res-row-2 {
    height: 200px;
    width: 18%;

    margin: 10px;
    box-sizing: border-box;
}
.res-row-2 {
    width: 14%;
    min-width: 50px;
}
.lock, .curtain, .led {
    min-width: 200px;
}

.lock, .curtain {
    padding: 15px;
}

.led {
    display: flex;
}

.led-content {
    display: flex;
    flex-direction: row;
}
.led-slider, .img-led {
    flex: 50%;
}
.lock-status, .class-warning, .curtain h3, #id-retalk {
    margin: 7px;
}
.class-btnTalk {
    padding: 5px;
    font-size: 40px;

    display: flex;
    justify-content: center;
    margin: 7px auto auto auto;

    background-color: green;
    border-radius: 999px;
}


footer {
    margin: 10px 0 30px 0;
    font-size: 15px;
}
h2 {
    display: flex;
    justify-content: center;
}


/* Chung cho roundSlider */
.rs-control .rs-range-color {
    background-color: #3894FF;
}
.rs-control {
    width: 50px;
    height: 50px;
}
.rs-control .rs-path-color {
    background-color: #F9F5F5;
}
.rs-control .rs-handle {
    background-color: #b02323;
}
.rs-control .rs-bg-color {
    background-color: #F9F5F5;
}
.rs-tooltip {
    font-size: 30px;
}


/* led */
.led-slider {
    display: flex;
    justify-content: center;
    margin: auto;
    /* margin-top: 120px;
    padding-right: 30px; */
}
#id-led-slider {
    -webkit-appearance: none;
    /* width: 160px; */
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

    rotate: -90deg;
}

#id-led-slider:hover{
  opacity: 1;
}

#id-led-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 16px;
    border-radius: 6px;
    outline: 2px solid #3894FF;
    background: white;
    cursor: pointer;
}

#id-led-slider::-moz-range-thumb {
    width: 25px;
    height: 13px;
    border-radius: 5px;
    outline: 2px solid #3894FF;
    background: white;
    cursor: pointer;
}

.img-led {
    background-image: url(assets/light.png);
    /* background-size: 100% ; */
    /* background-size: 150px auto; */
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}


/* LOCK */

.lock {
    display: flex;
    flex-direction: column;
}

.lock-content {
    flex: 50%;
}

/* Curtain */
ion-icon {
    cursor: pointer;
}

@media  (min-width: 1200px){
    .img-led {
        background-size: 150% ;
    }
}

/* Desktop */
@media  (min-width: 1024px){
    .img-led {
        background-size: 150% ;
    }
}



/* Tablet */
/* @media screem and (min-width: 767px) and (max-width: 1023px){ */
@media (max-width: 1023px){
    .img-led {
        background-size: 150% ;
    }
    .temp, .humid {
        width: 30%;   
    }
    .res-row-1 {
        width: 13%;
    }

    .row-2 {
        flex-flow: wrap;
    }
    .lock, .curtain, .led {
        width: 25%;
    }
    .res-row-2 {
        display: none;
    }
}

/* Mobile */
/* @media screem and (max-width: 767px) */
@media (max-width: 767px){
    .temp, .humid {
        margin-top: 10px;
        width: 65%;
    }

    .res-row-1 {
        display: none;
    }

    .lock, .curtain, .led{
        width: 65%;
    }
}

/* @media (max-width: 1760px){

} */

/* @media (max-width: 1760px) and (min-width: 760px) {

} */